/Assignment-1/.idea
*.txt
/.idea
/Assignment-2/data
/Assignment-2/.idea
/Assignment-2/.idea
/Assignment-2/.idea
/Assignment-2/.idea
.idea/git-practice-carson-alonzo.iml
Assignment-3/__pycache__/program.cpython-312.pyc
Assignment-3/__pycache__/test_program.cpython-312-pytest-8.3.5.pyc
Assignment-3/__pycache__/test_program.cpython-312.pyc
.idea/git-practice-carson-alonzo.iml
